.blog {
    max-width: 1200px;
    margin: auto;
    padding: 5rem;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,auto-fit);
    grid-template-rows: auto; 
 }
 
 .blog__featured {
    grid-column: 1/6;
    grid-row: 1/2;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
 }

 .blog__featured article {
    position: relative;
    display: flex;
 }

 .blog__featured p {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    max-height: 100%;
 }

 .blog__featured img {
  object-fit: cover;
  width: 100%;
  border-radius: 7px;
  }

 .blog__featured article:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
 }

 .blog__old {
    grid-column: 3/6;
    grid-row: 2/3;
    justify-self: right;
    border-left: 1px solid rgba(128, 128, 128, 0.24);
    padding-left: 3rem;
 }

 .blog__old article {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 0;
    justify-content: flex-end;
 }

 .blog__old article p {
    font-size: 1.5rem;
    padding: 1rem 2rem;
 }

 .blog__headlines {
    grid-column: 1/3;
    grid-row: 2/3;
 }

 .blog__headlines article {
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 1rem;
 }

 .blog__headlines p {
   padding: 1rem 2rem;
 }

 @media screen and (max-width: 768px) {
    .blog {
        grid-template-columns: repeat(2,1fr);
     }  

     .blog__featured {
        grid-column: 1/3;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
     }

     .blog__featured article:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/3;
     }
    

     .blog__headlines {
        grid-column: 1/3;
        grid-row: 2/3;
     }

     .blog__old {
        grid-column: 1/3;
        grid-row: 3/3;
     }
 }