.home {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,auto-fit);
}

.black {
    background-color: black;
    width: 100%;
    padding: 3rem 0;
}

.text--white {
    color: white;
}

figcaption {
    display: none;
}

.invert {
    flex-direction: row-reverse;
}

.block {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: auto;

    &__img {
        margin: auto;
        img {
            width: 100%;
        }
    }

    &--add {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin: auto;
    }

    &__content {
        align-self: center;
        padding: 0 3rem;
        margin: auto;
    }

    &__title {
        text-align: left;
    }
    
    &__text {
        text-align: justify;
    }
}


@media screen and (max-width: 768px) {
    .block, .block--add {
        flex-direction: column;
        margin: auto;

        &__img {
            margin-top: 4rem;
        }
    }

    .block__title, .text--add {
        text-align: center;
    }
    
    }