.nav {
    background-color: black;
    color: white;
    padding: 1rem;
    width: 100%;
}

.list {
    list-style: none;
}

.nav__list {
    overflow: hidden;
    position: relative;
    margin-top: 80px;
}

.nav__item {
    padding: 0.5rem;
}

.nav__item a {
    text-decoration: none;
    display: block;
    padding: 1.5rem;
    color: white;
    text-align: center;
    font-size: 3rem;
}

.nav__item a:hover {
background-color: white;
color: black;
border-radius: 16px;
}

.nav__logo img {
    width: 220px;
    position: relative;
    float: left;
    padding: 0.65rem 0;
}

.nav__btn {
    display: none;
}

.nav__btn__icon {
    cursor: pointer;
    padding: 0.5rem;
    position: relative;
    float: right;
    cursor: pointer;
    font-size: 2em;
}

.nav__list--btn {
    clear: none;
    max-height: 0px;
    transition: max-height .2s ease-out;
}

.nav__btn:checked ~ .nav__list {
    max-height: 100vh;
}


@media screen and (min-width: 768px) {

.nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 74px;
    margin-top: 0;
}

.nav__item a {
font-size: 2.2rem;
padding: 0.7rem 1.4rem;
}

.nav__btn__icon {
display: none;
}

}